body {
    background-color: dimgray;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}
h1 {
    color: white;
}
main {
    margin: 0 auto;
    width: 960px;
}
article {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid #CCC;
    border-color: #CCC #999 #999 #CCC;
    margin-bottom: 20px;
    padding: 10px;
}
article img {
    float: left;
    margin: 0 20px 0 0;   
}